.navbar, .navbar-nav{
    background-color: rgb(127, 175, 214) !important;
}
.nav-item a{
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 13px;
}

a:link {
    text-decoration: none;
  }
  
a{
    padding: 10px;
    color: white;
    margin: 1s0px ;
    
}

  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #004d40;
    }

 