.navbar, .navbar-nav{
    background-color: rgb(45, 156, 247) !important;
}
.nav-item a{
    color: white;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 13px;
}


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: rgb(85, 157, 252);
      }
      
      .active {
        background-color: #4CAF50;
      }
    