
<nav class="navbar navbar-expand-md navbar-dark">
  <div class="container">
    
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
        class="fas fa-bars fa-1x"></i></span></button>
    <!-- <button id="nav-btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDiv" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button> -->
<div class="collapse navbar-collapse" id="navbarSupportedContent1">


        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/learning" data-toggle="collapse" data-target=".navbar-collapse.show">Learning</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/payroll" data-toggle="collapse" data-target=".navbar-collapse.show">Payroll</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile" data-toggle="collapse" data-target=".navbar-collapse.show">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/hr" data-toggle="collapse" data-target=".navbar-collapse.show">Help</a>
        </li>
        </ul>
    </div>
</div>
</nav>

<router-outlet></router-outlet>