nav{
    background: #6dcbe7;
   font-family: Courier ;
  
    padding: 15px , 15px ;
    padding-top: 20px;
    height: 3em;
    font-style: oblique;
    
    

}

a:link {
    text-decoration: none;
  }
  
a{
    padding: 30px;
    color: white;
    margin: 20px ;
    
}

  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

  